.DS_Store
Thumbs.db
.idea/workspace.xml
.idea/tasks.xml
npm-debug.log
*.dmp
api/_ide_helper.php
documentation/~*
**/.idea/workspace.xml
**/.idea/tasks.xml
.vscode
npm-debug.log
yarn-error.log
.phpunit.result.cache