<div class="practitioners">

  <div class="row header hidden-xs">
    <div class="col-sm-3">Person</div>
    <div class="col-sm-3">Organisation name</div>
    <div class="col-sm-3">Visiting address</div>
    <div class="col-sm-1">City</div>
    <div class="col-sm-2">Certificates</div>
  </div>

  <div class="row practitioner" ng-repeat="p in practitioners">
    <div class="col-sm-12">
      <div class="row master" ng-click="setCurrent(p)" ng-class="{selected: current==p}" ng-mouseenter="p.hover=true" ng-mouseleave="p.hover=false">
        <div class="col-sm-3">{{p.person}} (id={{p.id}})</div>
        <div class="col-sm-3">{{p.organisation_name}}</div>
        <div class="col-sm-3 hidden-xs">{{p.visiting_address}}</div>
        <div class="col-sm-1 hidden-xs">{{p.city}}</div>
        <div class="col-sm-2">
          <span class="label certificate-label" ng-class="hasEia(p) ? 'label-success' :'label-default noCertificate'">EIA</span>
          <span class="label certificate-label" ng-class="hasAudit(p) ? 'label-success' :'label-default noCertificate'">Au</span>
          <button type="button" class="btn btn-xs btn-link pull-right text-right" ng-class="{'btn-link-hover':p.hover}" ng-show="current!=p">Edit</button>
          <button type="button" class="btn btn-xs btn-link pull-right text-right" ng-class="{'btn-link-hover':p.hover}" ng-show="current==p">Close</button>
        </div>
      </div>
      <div class="row detail" ng-show="current==p">
        <div class="col-sm-12" style="min-height:400px;">
          <form role="form">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="person">Person</label>
                  <input type="text"  class="form-control input-sm" id="person" ng-model="p.person" />
                </div>
              </div>
              <div class="col-sm-8">
                <div class="form-group">
                  <label for="organisation_name">Organisation Name</label>
                  <input type="text"  class="form-control input-sm" id="organisation_name" ng-model="p.organisation_name" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="visiting_address">Visiting Address</label>
                  <input type="text"  class="form-control input-sm" id="visiting_address" ng-model="p.visiting_address" />
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label for="box_no">Box No</label>
                  <input type="text"  class="form-control input-sm" id="box_no"  ng-model="p.box_no" />
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="city">City</label>
                  <input type="text"  class="form-control input-sm" id="city" ng-model="p.city" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="phone">Phone</label>
                  <input type="text"  class="form-control input-sm" id="phone" ng-model="p.phone" />
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="fax">Fax</label>
                  <input type="text"  class="form-control input-sm" id="fax"  ng-model="p.fax" />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="email">E-mail</label>
                  <input type="text"  class="form-control input-sm" id="email" ng-model="p.email" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="qualifications">Qualifications</label>
                  <textarea  class="form-control input-sm" rows="3" id="qualifications" ng-model="p.qualifications"></textarea>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="expertise">Expertise</label>
                  <textarea  class="form-control input-sm" rows="3" id="expertise" ng-model="p.expertise"></textarea>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="email">Remarks</label>
                  <textarea  class="form-control input-sm" rows="3" id="remarks" ng-model="p.remarks"></textarea>
                </div>
              </div>
            </div>
            <h4>Certificates</h4>
            <div class="row">
              <div class="col-sm-12">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Year</th>
                    <th>Date of entry</th>
                    <th>Type of certificate</th>
                    <th>Certificate number</th>
                    <th>Conditions</th>
                    <th>Certificate cancelled?</th>
                    <th>Remarks</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="c in p.practitioner_certificates">
                    <td><input type="number" class="form-control input-sm" id="c_year"  ng-model="c.year" /></td>
                    <td><input type="text" class="form-control input-sm" id="c_date_of_entry"  ng-model="c.date_of_entry" /></td>
                    <td><input type="number" class="form-control input-sm" id="c_cert_type"  ng-model="c.cert_type" /></td>
                    <td><input type="text" class="form-control input-sm" id="c_cert_no"  ng-model="c.cert_no" /></td>
                    <td><input type="number" class="form-control input-sm" id="c_conditions"  ng-model="c.conditions" /></td>
                    <td><input type="number" class="form-control input-sm" id="c_is_cancelled"  ng-model="c.is_cancelled" /></td>
                    <td><input type="text" class="form-control input-sm" id="c_remarks"  ng-model="c.remarks" /></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>


<button add-practitioner-button>Add practitioner</button>