<div class="top-header">
  <h1>Practitioners</h1>
  <p class="lead">Edit practitioners and certificates for EIA and audits.</p>
</div>

<div class="practitioners">

  <!--<button ng-click="d1=true">på</button>-->
  <!--<button ng-click="d1=false">igjen</button>-->
  <!--<span animate-new-element='d1'>ddddd</span>-->

  <div class="row">
    <div class="col-md-8">
      <form class="form-inline" role="form">
        <div class="form-group">
          <label class="sr-only" for="filterText">Filter</label>
          <input type="text" class="form-control input-filter" id="filterText" placeholder="Filter (try anything, e.g. name, city, eia or audit)" ng-model="filterText">
        </div>
        <span>Count: {{(practitioners | filter:filterText).length}}</span>
      </form>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-success pull-right" ng-click="newPractitioner()" ng-disabled="!canSave()">New practitioner</button>
    </div>
    <div class="col-md-12"><hr/></div>
  </div>

  <div class="row header visible-md visible-lg">
    <div class="col-md-3">Person</div>
    <div class="col-md-3">Organisation name</div>
    <div class="col-md-3">Visiting address</div>
    <div class="col-md-1">City</div>
    <div class="col-md-2">Certificates</div>
  </div>

  <div class="row practitioner" ng-repeat="p in practitioners | filter:filterText">
    <div class="col-md-12">
      <form role="form" name="form" novalidation>
        <div class="row master" ng-click="toggleRow(p);" ng-class="{selected: current==p, notvalid: form.$invalid}">
          <div class="col-md-3" title="id={{p.id}}">{{p.person}}</div>
          <div class="col-md-3">{{p.organisation_name}}</div>
          <div class="col-md-3 hidden-xs">{{p.visiting_address}}</div>
          <div class="col-md-1 hidden-xs">{{p.city}}</div>
          <div class="col-md-2">
            <span class="label certificate-label" ng-class="hasEia(p) ? 'label-success' :'label-default noCertificate'">EIA</span>
            <span class="label certificate-label" ng-class="hasAudit(p) ? 'label-success' :'label-default noCertificate'">EA</span>
            <button type="button" class="btn btn-xs btn-link pull-right text-right" hover-on-parent=".master" ng-show="current!=p">{{canSave() ? "Edit" : "Open"}}</button>
            <button type="button" class="btn btn-xs btn-link pull-right text-right" hover-on-parent=".master" ng-show="current==p">Close</button>
            <span class="loader pull-right" ng-show="loading==p"></span>
          </div>
        </div>
        <div class="row detail" ng-if="current==p" ng-init="setCurrentForm(form)">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="person">Person</label>
                  <input type="text" ng-readonly="!canSave()" ng-required="true" class="form-control input-sm" id="person" ng-model="p.person" />
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="tin">TIN</label>
                  <input type="text" ng-readonly="!canSave()" integer class="form-control input-sm" id="tin" ng-model="p.tin"/>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="organisation_name">Organisation Name</label>
                  <input type="text" ng-readonly="!canSave()" ng-required="true" class="form-control input-sm" id="organisation_name" ng-model="p.organisation_name"/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="visiting_address">Visiting Address</label>
                  <input type="text" ng-readonly="!canSave()" class="form-control input-sm" id="visiting_address" ng-model="p.visiting_address" />
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="box_no">P.O. Box</label>
                  <input type="text" ng-readonly="!canSave()" integer ng-required="true" class="form-control input-sm" id="box_no" ng-model="p.box_no" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="city">City</label>
                  <input type="text" ng-readonly="!canSave()" ng-required="true" class="form-control input-sm" id="city" ng-model="p.city" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="phone">Phone</label>
                  <input type="text" ng-readonly="!canSave()" class="form-control input-sm" id="phone" ng-model="p.phone" />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="fax">Fax</label>
                  <input type="text" ng-readonly="!canSave()" class="form-control input-sm" id="fax"  ng-model="p.fax" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email">E-mail</label>
                  <input type="text" ng-readonly="!canSave()" class="form-control input-sm" id="email" ng-model="p.email" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="qualifications">Qualifications</label>
                  <textarea ng-readonly="!canSave()" ng-required="true" class="form-control input-sm" rows="3" id="qualifications" ng-model="p.qualifications"></textarea>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="expertise">Expertise</label>
                  <textarea ng-readonly="!canSave()" ng-required="true" class="form-control input-sm" rows="3" id="expertise" ng-model="p.expertise"></textarea>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="email">Remarks</label>
                  <textarea ng-readonly="!canSave()" class="form-control input-sm" rows="3" id="remarks" ng-model="p.remarks"></textarea>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-8">
                <h4>Certificates</h4>
              </div>
              <div class="col-md-4">
                <button type="button" class="btn btn-danger btn-sm pull-right" ng-click="deletePractitioner($index, p)" ng-disabled="!canSave()">{{p.is_new ? "Cancel new practitioner" : "Delete practitioner"}}</button>
              </div>
            </div>

            <div class="row certificates">
              <div class="col-md-12">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Year</th>
                    <th>Date of entry</th>
                    <th>Type of certificate</th>
                    <th>Certificate number</th>
                    <th>Conditions</th>
                    <th>Certificate cancelled?</th>
                    <th>Remarks</th>
                    <th><button type="button" class="btn btn-success btn-sm btn-add-certificate" ng-click="newCertificate(p)" ng-disabled="!canSave()">New</button></th>
                  </tr>
                  </thead>
                  <tbody>
                  <!--<tr ng-class="{'bg-success':c.is_new}" ng-repeat="c in p.practitioner_certificates | orderBy:['-year', 'cert_type']" ng-hide="c.is_deleted">-->
                  <tr ng-repeat="c in p.practitioner_certificates" ng-hide="c.is_deleted">
                    <td><input type="text" ng-readonly="!canSave()" ng-required="true" integer min="{{certificateYearMin}}" max="{{certificateYearMax}}" class="form-control input-sm input-year" id="c_year" ng-model="c.year"/></td>
                    <td>
                      <div class="input-group container-datepicker" ng-controller="DatePickerController">
                        <input type="text" ng-readonly="!canSave()" ng-required="true" class="form-control input-sm input-date" ng-model="c.date_of_entry" data-datepicker-popup data-is-open="opened" data-datepicker-options="datepickerOptions" data-show-button-bar="false"/>
                        <span class="input-group-btn">
                          <button type="button" ng-disabled="!canSave()" class="btn btn-default btn-sm" ng-click="open($event)"><span class="glyphicon glyphicon-calendar"></span></button>
                        </span>
                      </div>
                    </td>
                    <td><select ng-disabled="!canSave()" id="c_cert_type" ng-required="true" class="form-control input-sm" ng-model="c.cert_type" ng-options="v.id as v.description1 for v in valuelists.practitionertype"></select></td>
                    <td><input type="text" ng-readonly="!canSave()" id="c_cert_no" certificate-number ng-required="true" class="form-control input-sm" ng-model="c.cert_no" /></td>
                    <td><select ng-disabled="!canSave()" ng-required="true" id="c_conditions" class="form-control input-sm input-conditions" ng-model="c.conditions" ng-options="v.id as v.description2 for v in valuelists.practitionermembertype"></select></td>
                    <td><input type="checkbox" ng-disabled="!canSave()" class="checkbox-small form-control input-sm" id="c_is_cancelled" ng-model="fake" ng-checked="c.is_cancelled" ng-click="c.is_cancelled = !c.is_cancelled"/></td>
                    <td><input type="text" ng-readonly="!canSave()" class="form-control input-sm input-remarks" id="c_remarks" ng-model="c.remarks" /></td>
                    <td><button type="button" ng-disabled="!canSave()" class="btn btn-danger btn-sm btn-delete-certificate" ng-click="deleteCertificate($index, p, c)">{{c.is_new ? "Cancel" : "Delete"}}</button></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!--<tt>form.$valid = {{form.$valid}}</tt><br>-->
              <!--<tt>form.$pristine = {{form.$pristine}}</tt><br>-->
              <!--<tt>form.$error = {{form.$error}}</tt><br>-->
              <!--<tt>currentForm.$valid = {{currentForm.$valid}}</tt><br>-->
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>