<div class="top-header">
  <h1>Projects</h1>
</div>

<div class="projects">

  <div class="row">
    <div class="col-md-8">
      <form class="form-inline" role="form">
        <div class="form-group">
          <label class="sr-only" for="filterText">Filter</label>
          <input type="text" class="form-control input-filter" id="filterText" placeholder="Filter (try anything, e.g. title, location, or organisation)" ng-model="filterText">
        </div>
        <span>Count: {{(projects | filter:filterText).length}}</span>
      </form>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-success pull-right" ng-click="goto('/projects/new');" ng-hide="!canSave()">New project</button>
    </div>
    <div class="col-md-12"><hr/></div>
  </div>

  <div class="row header visible-md visible-lg">
    <div class="col-md-1">Id</div>
    <div class="col-md-3">Title</div>
    <div class="col-md-3">Location</div>
    <div class="col-md-2">Project District</div>
    <div class="col-md-2">Developer</div>
    <div class="col-md-1"></div>
  </div>

  <div class="row project" ng-repeat="p in projects | filter:filterText">
    <div class="col-md-12">
      <div class="row master" ng-click="goto('/projects/'+p.id);">
        <div class="col-md-1">{{p.id}}</div>
        <div class="col-md-3">{{p.title}}</div>
        <div class="col-md-3">{{p.location}}</div>
        <div class="col-md-2">{{p.district.district}}</div>
        <div class="col-md-2 hidden-xs" title="id={{p.organisation.id}}">{{p.organisation.name}}</div>
        <button type="button" class="btn btn-xs btn-link pull-right text-right" hover-on-parent=".master">Open</button>
      </div>
    </div>
  </div>

</div>