<div class="top-header">
  <h1>{{data.project.title}}&nbsp;</h1>
</div>

<div class="project">
  <ul class="nav nav-tabs" role="tablist">
    <li ng-class="{active: tab==ProjectTabEnum.Project}"><a ng-href="#/projects/{{routeParams.projectId}}">Project</a></li>
    <li ng-class="{active: tab==ProjectTabEnum.EiasPermits}"><a href="#/projects/{{routeParams.projectId}}/eiaspermits/{{data.eiapermit.id}}">EIAs and Permits</a></li>
    <li class="disabled"><a href="#/projects/{{routeParams.projectId}}/auditsinspections">Audits and Inspections</a></li>
    <li class="disabled"><a href="#/projects/{{routeParams.projectId}}/reports">Reports</a></li>
  </ul>

  <div ng-if="tab==ProjectTabEnum.Project">
    <div ng-controller="ProjectController" ng-include="'partials/projectProject.html'"></div>
  </div>
  <div ng-if="tab==ProjectTabEnum.EiasPermits">
    <div ng-controller="EiasPermitsController" ng-include="'partials/projectEiasPermits.html'"></div>
  </div>
  <div ng-if="tab==ProjectTabEnum.AuditsInspections">
    NOT IMPLEMENTED
  </div>
  <div ng-if="tab==ProjectTabEnum.Reports">
    NOT IMPLEMENTED
  </div>

</div>