<div class="top-header">
  <h1>User profile</h1>
  <p class="lead">This is the user profile for {{userinfo.info.name}}.</p>
</div>

<p>Change the password? Go to the <a href="/password/email">reset password</a> page.</p>

<h3>Roles</h3>
  <p ng-hide="userinfo.info.roles.length">No roles.</p>
<ul>
  <li ng-repeat="role in userinfo.info.roles">{{role.display_name}} ({{role.name}})</li>
</ul>

<div ng-if="userinfo.info.can_impersonate">
  <h3>System manager</h3>

  <p>As System manager, you may impersonate another user. This helps to verify that the different roles works as intended. If you impersonate a user that is not System manager, you have to sign out to be able to login as yourself again.</p>

  <form class="form-horizontal" role="form" ng-init="userinfo.getAllUsers()">
    <div class="form-group">
      <label for="userid_to_impersonate" class="col-sm-2 control-label">Impersonate a user</label>
      <div class="col-sm-3">
        <select id="userid_to_impersonate" ng-model="$parent.userid_to_impersonate" ng-change="impersonate()" class="form-control input-sm" ng-options="u.id as u.name for u in userinfo.allusers | orderBy:'name'"></select>
      </div>
    </div>
  </form>

</div>
<br/>
<button type="button" class="btn btn-danger" ng-click="userinfo.signout()">Sign out</button>