/* Needed by ui.bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


.top-header
{
    margin-bottom:30px;
}
.top-header h1
{
    margin-top:0;
}


.practitioners
{
}
.practitioners .header
{
    font-weight: bold;
    font-size: 13px;
}
.practitioners .practitioner .master
{
    background-color: #f3f3f3;
    border-top:1px solid darkgray;
    cursor: pointer;
    font-size: 13px;
}

.practitioners .practitioner .master .noCertificate
{
    opacity: 0;
}


.practitioners .practitioner .detail
{
    padding-top:5px;
    padding-bottom:10px;
    background-color: #FCFCFC;
}
.practitioners .practitioner .selected
{
    background-color: #FCFCFC;
}

.btn-link-hover
{
    color: #2a6496;
    text-decoration: underline;
}

.max-width
{
    max-width:1200px;
}

.practitioners .practitioner .master .certificate-label
{
    font-size: 9px;
    padding: 0.1em 0.6em 0.1em;
}

.practitioners .btn-link
{
    line-height: 1.2;
}

.practitioners .practitioner .certificates .btn-delete-certificate,
.practitioners .practitioner .certificates .btn-add-certificate
{
    min-width: 60px;
}

.practitioners .practitioner .certificates .input-date
{
    min-width:87px;
}

.practitioners .practitioner .certificates .dropdown-menu table
{
    min-width:280px;
}

.practitioners .practitioner .certificates .input-year
{
    min-width:65px;
}

.practitioners .practitioner .certificates .input-conditions
 {
     min-width:140px;
 }

.practitioners .practitioner .certificates .input-remarks
{
    min-width:200px;
}

.practitioners .practitioner .certificates table th
{
    white-space: nowrap;
}

.container-datepicker .input-group-btn
{
    /* Fix for bug: https://github.com/twbs/bootstrap/issues/9950 */
    width: auto;
}

.bg-success
{
    background-color: #5cb85c;
}

.practitioners .input-filter
{
    min-width:400px;
}


.bgcolor-success
{
    background-color: #5cb85c;
}
.bgcolor-info
{
    background-color: #5bc0de;
}




#infoMessageBox
{
    top:60px;
    left: 50%;
    width:300px;
    /*height:50px;*/
    /*margin-top: 0px; *//*set to a negative number 1/2 of your height*/
    margin-left: -200px; /*set to a negative number 1/2 of your width*/
    position:fixed;
    z-index: 100000;
    padding:2px;
    text-align: center;
    color:#ffffff;
    font-size: 1.1em;
    opacity: 0;
    box-shadow:rgba(0, 0, 0, 0.4) 0 2px 4px;
}


.infomessagebox-add, .infomessagebox-remove
{
    /*display: none !important;*/
    opacity: 0 !important;
    -webkit-transition: all 750ms ease-in-out;
    -moz-transition: all 750ms ease-in-out;
    -o-transition: all 750ms ease-in-out;
    transition: all 750ms ease-in-out;
}

.infomessagebox, .infomessagebox-add-active
{
    /*display: block !important;*/
    opacity: 1 !important;
}
.infomessagebox-remove-active
{
    /*display: none !important;*/
    opacity: 0 !important;
}

.checkbox-small
{
    width: 30px;
    margin: 0 !important;
}

input.ng-invalid,
select.ng-invalid,
textarea.ng-invalid,
.practitioners .practitioner .notvalid
{
    background-color:#FFFF99;
}