/* Needed by ui.bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


.top-header
{
    margin-bottom:30px;
}
.top-header h1
{
    margin-top:0;
}


.practitioners
{
}
.practitioners .header
{
    font-weight: bold;
    font-size: 13px;
}
.practitioners .practitioner .master
{
    background-color: #f3f3f3;
    border-top:1px solid darkgray;
    cursor: pointer;
    font-size: 13px;
}

.practitioners .practitioner .master .noCertificate
{
    opacity: 0;
}


.practitioners .practitioner .detail
{
    padding-top:5px;
    padding-bottom:10px;
    background-color: #FCFCFC;
}
.practitioners .selected
{
    background-color: #FCFCFC !important;
}

.btn-link-hover
{
    color: #2a6496;
    text-decoration: underline;
}

.max-width
{
    max-width:1200px;
}

.practitioners .practitioner .master .certificate-label
{
    font-size: 9px;
    padding: 0.1em 0.6em 0.1em;
}

.practitioners .btn-link
{
    line-height: 1.2;
}

.practitioners .practitioner .certificates .btn-delete-certificate,
.practitioners .practitioner .certificates .btn-add-certificate
{
    min-width: 60px;
}

.practitioners .practitioner .certificates .input-date
{
    min-width:87px;
}

.practitioners .practitioner .certificates .dropdown-menu table
{
    min-width:280px;
}

.practitioners .practitioner .certificates .input-year
{
    min-width:65px;
}

.container-datepicker .input-group-btn
{
    /* Fix for bug: https://github.com/twbs/bootstrap/issues/9950 */
    width: auto;
}

.bg-success
{
    background-color: #5cb85c;
}

.practitioners .input-filter
{
    min-width:400px;
}


.new-element-add, .new-element-remove
{
    background-color: transparent;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.new-element, .new-element-add-active
{
    background-color: #5cb85c;
}
.new-element-remove-active
{
    background-color: transparent;
}

