<div class="top-header">
    <h1>PL Status Update</h1>
</div>

<div class="pirking">
    <p>Currently last ID used for a PL is {{lastId}}.</p>

    <form role="form" name="criteriaForm" novalidation ng-submit="beginPirking()">
        <div class="row">
            <div class="col-md-2">
                <label for="criteria.from">From ID (inclusive)</label>
                <input type="text" integer
                        id="criteria.from"
                        ng-required="true"
                        ng-model="criteria.from"
                        class="form-control input-sm"/>
            </div>
            <div class="col-md-2">
                <label for="criteria.to">To ID (inclusive)</label>
                <input type="text" integer
                        id="criteria.to"
                        ng-required="true"
                        ng-model="criteria.to"
                        class="form-control input-sm"/>
            </div>
            <div class="col-md-1">
                <label for="dryrun">Dry run</label>
                <input type="checkbox" class="form-control input-sm pull-left checkbox-small" id="dryrun"
                        ng-checked="dryrun" ng-click="dryrun = !dryrun;"/>
            </div>
            <div class="col-md-7">
                <label for="criteria.begin">&nbsp;</label><br/>
                <button type="submit" class="btn btn-sm btn-primary"
                        id="criteria.begin"
                        ng-disabled="criteriaForm.$invalid || working">Begin Status Update
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br/>
                <span class="label label-info" ng-show="dryrun">Try without saving the status back to the database.</span>
                <span class="label label-danger" ng-hide="dryrun">This will save any changes back to the database.</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <br/>
                <span style="padding:5px;" class="label label-info">Progress <span class="badge">{{info.finished()}}/{{plData.length}}</span></span>
                <span style="padding:5px;" class="label label-success">Changed <span class="badge">{{info.changed}}</span></span>
                <span style="padding:5px;" class="label label-warning">No change <span class="badge">{{info.nochange}}</span></span>
                <span style="padding:5px;" class="label label-danger">Error <span class="badge">{{info.error}}</span></span>
            </div>
        </div>
        <div class="row">
            <br/>
            <div class="col-md-12">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{info.progress()}}%;"></div>
                </div>
            </div>
        </div>
    </form>

    <table class="table table-condensed">
        <thead>
        <tr>
            <th>PL ID</th>
            <th>Project ID</th>
            <th style="width:400px;">Project title</th>
            <th colspan="2">Existing status</th>
            <th colspan="2">New status</th>
            <th>Updated at</th>
            <th>Result</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="pl in plData" ng-class="{danger: pl.error, warning: pl.nochange, success: pl.changed}">
            <td>{{pl.permitLicense_id}}</td>
            <td>{{pl.project_id}}</td>
            <td>{{pl.project_title}}</td>
            <td>{{pl.status_id}}</td>
            <td style="white-space: nowrap;">{{pl.status_description}}</td>
            <td>{{pl.status_id_new}}</td>
            <td style="white-space: nowrap;">{{pl.status_description_new}}</td>
            <td style="white-space: nowrap;">{{pl.permitLicense_updated_at | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td style="white-space: nowrap;"><span ng-show="pl.updating" class="loader pull-right"></span>{{pl.result}}</td>
        </tr>
        </tbody>
    </table>


</div>