URL=https://eiadev.nemaug.org
CLIENT=app
CLIENT_RESET_LINK=/app/#/password/reset/

APP_ENV=production
APP_DEBUG=false
APP_KEY=

DB_HOST=localhost
DB_DATABASE=uganda
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailgun.org
MAIL_PORT=587
MAIL_USERNAME=postmaster@sandboxb057a0588a384581ab7b50a5f5a74a78.mailgun.org
MAIL_PASSWORD=2x70e0bh4gl6
MAIL_SENDER=noreply@nemaug.org