URL=https://eiadev.nemaug.org
CLIENT=app
CLIENT_RESET_LINK=/app/#/password/reset/

APP_ENV=stage
APP_DEBUG=false
APP_KEY=

DB_HOST=localhost
DB_DATABASE=uganda
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailgun.org
MAIL_PORT=587
MAIL_USERNAME=null
MAIL_PASSWORD=null